body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

.layout {
  display: flex;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  background: #020617;
  height: 100vh;
  padding: 20px;
}

.item {
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
  border-radius: 6px;
}

.item:hover {
  background: #1e293b;
}

.item.active {
  background: #22c55e;
}

/* MAIN */
.main {
  flex: 1;
  padding: 30px;
}

/* CARD */
.card {
  background: #1e293b;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 10px;
}

button {
  margin: 5px;
  padding: 8px 12px;
  background: #22c55e;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}